# Dataset — too large for GitHub
data/raw/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Results and model checkpoints
#results/

# Jupyter
.ipynb_checkpoints/

# Environment
.env
*.egg-info/

# VS Code
.vscode/

# Conda
*.conda

# Weights & Biases
wandb/